/* docs/_static/custom.css */
:root {
  --pst-logo-height: 144px;             /* PyData-Variable */
  --pst-header-height: 84px;           /* etwas mehr Platz in der Navbar */
}
.navbar-brand img {
  height: 144px !important;
  max-height: 84px !important;
  width: auto !important;
}
